.icon_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon_item {
    padding: .5em;
    font-size: 2em;
    cursor: pointer;
    transition: .5s;
}

#mail{
    color:  #c71610;
}

#linkedin{
    color:  #0e76a8;
}


