
.container_tech_card {
    display: flex;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #fff;
}
.tech_card {
    padding-left: 20px;
    display: flex;
    flex-direction: column; 
}

.container_image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(194, 10, 10);
    min-width: 80px;
    max-height: 75px;
}


.container_image > img {
    width: 45px;
    height: 45px;
    background-size: auto auto;
}


.tech_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 2px;
}

.tech_description {
    font-size: 1em;
    font-weight: 200;
}
