<section class="skills">
    <div class="container_myskills">
        <h2 class="skills_title">
            <span class="tag_sign">&lt;</span>
                Minha Stack de conhecimento
            <span class="tag_sign">/&gt;</span>
        </h2>
        <div class="container_technologies">
            <app-tech-card></app-tech-card>
            <app-tech-card></app-tech-card>
            <app-tech-card></app-tech-card>
            <app-tech-card></app-tech-card>
        </div>
        
    </div>
           
</section>
