
.skills {
    width: 100%;
    background-color: rgba(70, 69, 66, 0.7235);
}
.container_myskills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: flex-start;
    flex-wrap: wrap;
}

.skills_title {
    padding: 1em 0;
    font-size: 2.5em;
    margin: 0 auto;
    text-align: center;
    font-weight: 550;
    color: #fff;
    font-family: 'Poppins', sans-serif; /* ou outra fonte moderna */
    font-size: 2.5rem; /* Ajuste conforme o design */

  position: relative;
}

.tag_sign {
    color: rgb(192, 14, 192);
}

.container_technologies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    gap: 10px;
    width: 100%;
}

    


@media screen and (max-width: 733px) {
   .tech_name {
        width: 400px;
   }
}

