<section class="skills">
    <div class="container_myskills">
        <h2 class="skills_title">
            <span class="tag_sign">&lt;</span> Minha Stack de conhecimento <span class="tag_sign">/&gt;</span>
        </h2>
        <div class="container_technologies">
            <app-tech-card iconExperience="assets/svg-icons/html-icon.svg" 
                        skillType="Front-End" 
                        descriptionOfSkill="Experiência com Angular (SPA), Tailwind CSS e TypeScript, com foco em desenvolvimento de interfaces modernas e layouts responsivos.">
            </app-tech-card>
            <app-tech-card iconExperience="assets/svg-icons/database.svg"
                        skillType="Banco de Dados"
                        descriptionOfSkill="Proficiente em Oracle e PostgreSQL, com sólida base em SQL para modelagem e consultas eficientes.">
            </app-tech-card>
            <app-tech-card iconExperience="assets/svg-icons/vassoura.svg"
            skillType="Clean Code"
            descriptionOfSkill="Aplicação de práticas de Clean Code para garantir legibilidade e manutenibilidade do código, incluindo revisões de qualidade."    
            ></app-tech-card>
            <app-tech-card iconExperience="assets/svg-icons/programming.svg"
            skillType="BACK-END"
            descriptionOfSkill="Domínio em Java e Spring Boot, com experiência em testes orientados por comportamento (TDD) utilizando JUnit 5."    
            ></app-tech-card>
            <app-tech-card iconExperience="assets/svg-icons/mobile.svg"
            skillType="mobile"
            descriptionOfSkill="Tecnologias de nicho mobile para criar aplicações portabeis."    
            ></app-tech-card>
            <app-tech-card iconExperience="assets/svg-icons/soft-skills.svg"
            skillType="SOFT SKILLS"
            descriptionOfSkill="Pensamento crítico, comunicação assertiva, resolução de problemas e adaptabilidade para aprender e se ajustar a novas tecnologias."    
            ></app-tech-card>

        </div>
        
    </div>
           
</section>
