
<h2 class="pres_header">Um pouco sobre mim</h2>
<section class="container_presentation">
    <p class="pres_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla omnis natus eaque consectetur inventore doloribus. Accusamus, tempora totam. 
    Facere ipsam nihil architecto quisquam minima nostrum dolorum maxime modi exercitationem facilis.</p>
    <p class="pres_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla omnis natus eaque consectetur inventore doloribus. Accusamus, tempora totam. 
        Facere ipsam nihil architecto quisquam minima nostrum dolorum maxime modi exercitationem facilis.</p>
</section>