<div class="container_aside" [ngClass]="collapsed ? 'sidenav-collapsed' : '' " *ngIf="collapsed">
    <h2 class="close_button" (click)="toggleCollapse()" *ngIf="collapsed">Angular</h2>
    <h2 class="close_button" (click)="closeSideNav()" *ngIf="collapsed">X</h2>
    <nav class="aside">
        <ul class="list_menu" *ngIf="collapsed">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Projetos</a></li>
        </ul>
    </nav>
</div>
