<div class="container_myself">
    <app-myself></app-myself>
</div>
<h1 class="about_title">Hard Skills</h1>
<div class="about_container">
    <app-card technologyCover="assets/java-logo.png" titleLabel="Java" textLabel="Texto qualquer sobre java"></app-card>
    <app-card technologyCover="assets/angular-logo.png" titleLabel="Angular" textLabel="Texto qualquer"></app-card>
    <app-card technologyCover="assets/mongodb-logo.svg" titleLabel="MongoDB" textLabel="Texto qualquer"></app-card>
    <app-card technologyCover="assets/mongodb-logo.svg" titleLabel="MongoDB" textLabel="Texto qualquer"></app-card>
</div>