.about_title {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
}
.about_container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    align-items: center;        
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1552px){
    .about_container {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1170px) {
    .about_container{
    grid-template-columns: 1fr 1fr;
    }
}

